.error-404 {

    .title {
        padding: 0;
        
        h1, h2, h3 {
            color: #F1A21E;
            letter-spacing: 4.8px;
            line-height: .91;
            text-transform: uppercase;
            font-weight: 700;
            overflow-wrap: break-word;
        }
    }
}