.searchform {

    .input {
        width: 100%;

        font-size: 1rem;

        padding: 10px 20px;

        background-color: #F2F2F4;
        color: #000;
        
        border-radius: 5px;
        border: solid 1px #F2F2F4;

        &::placeholder {
            color: #777E8E;
        }
    }

    .submit {
        background-color: transparent;
        border: none;
        width: 100%;
        height: 100%;

        font-size: 1.25rem;

        transition: color .1s;

        &:hover, &:active, &:focus {
            color: var(--bs-primary);
        } 
    }
}