/* Black */
@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Black.ttf');
    font-weight: 900;
}

/* Extra-Bold */
@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-ExtraBold.ttf');
    font-weight: 800;
}

/* Bold */
@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Bold.ttf');
    font-weight: 700;
}

/* Semi-Bold */
@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-SemiBold.ttf');
    font-weight: 600;
}

/* Medium */
@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Medium.ttf');
    font-weight: 500;
}

/* Regular */
@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Regular.ttf');
    font-weight: 400;
}

/* Light */
@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Light.ttf');
    font-weight: 300;
}

/* Extra-Light */
@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-ExtraLight.ttf');
    font-weight: 200;
}

/* Thin */
@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Thin.ttf');
    font-weight: 100;
}