.concepcao {
    background-color: #777E8E;
    color: white;

    .thin-title h2 {
        color: white;
    }

    .field {
        border-left: solid 2px #A5B0CC;

        padding-top: 40px;
        padding-bottom: 40px;

        &:first-of-type {
            border-left: none;
        }

        .name {
            color: #F2F2F4;
            font-size: .9rem;
        }

        .value {
            font-weight: 600;
            font-size: 1.15rem;
        }
    }
}   
@media all and (max-width:991.99px) {
    .concepcao {
    
        .field {
            border-left: none;
            border-top: solid 2px #A5B0CC;
    
            padding-top: 20px;
            padding-bottom: 20px;

            max-width: 90% !important;
            margin: auto;
        }
    }   
}

@media all and (max-width:767.99px) {
    .concepcao {
    
        .field {
            border-left: none;
            border-top: solid 2px #A5B0CC;
    
            padding-top: 20px;
            padding-bottom: 20px;

            max-width: 95%;
            margin: auto;
    
            &:first-of-type {
                border-top: none;
            }
        }
    }   
}