
.form_multiple {
    .nav {
        .nav-item {
            button {
                display: block;
                width: 100%;
                padding: 10px 20px;
                border: none;
                color: #010C2A;
                background-color: transparent;
                text-align: left;

                &.active {
                    color: #F1A21E;
                    background-color: #F2F2F4;
                    font-weight: bold;
                }
            }

        }
    }
}