.sistema_qualidade_empre {
    background-color: #010C2A;

    .thin-title * {
        color: white;
    }

    .list {
        .list-item {
            .text {
                color: #E4E7F0;
                b {
                    font-weight: 600;
                }
            }
        }
    }
}